.description{
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;

    p{
        padding: 5vw 15vw 5vw 15vw;
        font-size: 2ch;
        text-align: center;
        line-height: 2;
    }
}